{% load static %}

    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg  blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
            <div class="container-fluid px-0">
                <a class="navbar-brand font-weight-bolder ms-sm-3 justify-content-start  align-items-center d-flex gap-3" href="https://demos.creative-tim.com/soft-ui-design-system/index.html" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                <img src="{% static 'assets/img/logos/django-python-logo.webp' %}" height="35" width="35" alt="logo">
                    <span class="d-none d-md-block  branding">
                        Django project
                    </span>
                </a>
                <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
                <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100">
                    {% if pages %}
                    {% for page in pages %}
                        {% if page.active == True %}
                        <li class="nav-item dropdown dropdown-hover mx-2">
                            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" href="{% url page.name %}">
                                {{ page.title }}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
                </div>
            </div>
            </nav>
            <!-- End Navbar -->
        </div>
        </div>
    </div>
